.link-banner{
  background-color: $yellow;
  background-image: url("../images/link_banner.png");
  background-size: 100% 100%;
  border-radius: 8px;
  margin: 6px 0;
  &__wrap{
    display: flex;
    align-items: center;
  }
  &__title{
    margin-right: auto;
  }
  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
  }
}
