.profile-form{
  &__input{
    margin-bottom: 12px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__btns{
    margin: 20px 0;
  }
  &__btn{
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__desc{
    color: #9A9A9A;
  }
}
