$Poppins: 'Poppins';
$Roboto: 'Roboto';

$pearl: #F7F7F9;
$pearl_hover: darken(#F7F7F9, 10);
$fog: #EFEFEF;
$primary: #0094F4;
$primary_dark: #0070E2;
$primary_light: #ACC9FA;
$blue_light: #E8F8FD;
$gold: #FDD256;
$yellow: #FFDE67;
$grey: #9A9A9A;
$grey_dark: #303030;
$violet: #8B5CD6;
$violet_light: #F3EFFB;
$green:#1A9090;
$green_light: #E7F4F4;
$red:#EE3851;
$froly: #EF6F84;
$red_light: #FDEBEE;



$delay: .45s;
